*{margin: 0; padding: 0; outline: 0;}
body{font-family:arial; font-size:14px; line-height:18px; color:#000; }
.template{ width: 960px; margin: 0 auto; /*background-color: #ddd; margin-bottom: 10px; */}
.clear{overflow: hidden;}
.headersection{ height: 85px; background-color: #2D2D2C; color: #fff; }
.headersection h2 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}
.navsection{background-color: #989897;}
.navsection ul{margin: 0; padding: 0; list-style: none;}
.navsection ul li{display: block; float: left;}
.navsection ul li a {
    display: block;
    background: #9897E8;
    border: 1px solid #666;
    text-decoration: none;
    padding: 5px 30px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}
.navsection ul li a:hover {background-color: #2D2D2C; color: #fff}
.navsection p {
    padding-left: 50px;
    font-size: 30px;
    padding-top: 10px;
    color: #fff;
}
.contentsection{}
.maincontent {
    width: 650px;
    background-color: #DCDCDB;
    float: left;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
}
.maincontent p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}
.samepost{}
.samepost h2 {
    /* background-color: #2D2D2C; */
    padding: 10px;
    border-bottom: 2px solid #555555;
    margin-bottom: 10px;
    font-size: 24px;
}
.samepost img {
    float: left;
    width: 200px;
    margin-right: 10px;
    background: #fff;
    padding: 5px;
    border: 1px solid #989897;
}
.samepost p {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}
.readmore {
    float: right;
    margin-top: 10px;
}
.readmore a {
    text-decoration: none;
    background-color: #fff;
    display: block;
    padding: 4px 8px;
    font-size: 17px;
    color: #333;
    border: 1px solid #999998;
    border-radius: 5px;
}
.readmore a:hover{
    color: #177CA5;
}
.sidebar {
    width: 260px;
    background-color: #A6A6A5;
    float: right;
    margin-top: 10px;
    padding: 10px;
}
.samesidebar{}
.samesidebar h2 {
    background-color: #989897;
    color: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border-bottom: 2px solid #555555;
}
.samesidebar p {
    margin-bottom: 10px;
}
.footersection {
    height: 90px;
    background: #414140;
}
.footersection p {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 35px;
    font-weight: bold;
}